/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        HMShiftR: HMShiftR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMSHIFTR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <0 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39>;
            hold-trigger-on-release;
        };

        HMShiftL: HMShiftL {
            compatible = "zmk,behavior-hold-tap";
            label = "HMSHIFTL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 40 41 42 43>;
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <0 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 40 41 42 43>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp TAB    &kp Q  &kp W             &kp E         &kp R               &kp T          &kp Y        &kp U        &kp I             &kp O              &kp P          &kp BACKSPACE
&kp ESC    &kp A  &kp S             &kp D         &kp F               &kp G          &kp H        &kp J        &kp K             &kp L              &kp SEMICOLON  &kp SQT
&kp LSHFT  &kp Z  &kp X             &kp C         &kp V               &kp B          &kp N        &kp M        &kp COMMA         &kp DOT            &kp FSLH       &kp RIGHT_SHIFT
                  &kp LEFT_BRACKET  &kp LEFT_ALT  &lt 1 LEFT_COMMAND  &lt 2 SPACE    &lt 3 SPACE  &lt 4 ENTER  &kp LEFT_CONTROL  &kp RIGHT_BRACKET
            >;
        };

        nav {
            bindings = <
&trans        &kp NUMBER_1            &kp NUMBER_2          &kp NUMBER_3              &kp NUMBER_4              &kp NUMBER_5       &kp NUMBER_6  &kp NUMBER_7                &kp NUMBER_8                &kp NUMBER_9         &kp NUMBER_0         &trans
&trans        &HML LEFT_CONTROL HOME  &HML LEFT_ALT INSERT  &HML LEFT_COMMAND DELETE  &HMShiftL LEFT_SHIFT END  &trans             &kp LEFT      &HMShiftR RIGHT_SHIFT DOWN  &HMR LEFT_COMMAND UP_ARROW  &HMR LEFT_ALT RIGHT  &HMR LEFT_CONTROL A  &trans
&kp CAPSLOCK  &trans                  &trans                &trans                    &trans                    &kp PRINTSCREEN    &kp HOME      &kp PAGE_DOWN               &kp PG_UP                   &kp END              &trans               &trans
                                      &trans                &trans                    &trans                    &trans             &trans        &trans                      &trans                      &trans
            >;
        };

        sys {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans    &trans  &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &bootloader
&trans       &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans          &trans        &trans        &trans
&sys_reset   &trans  &trans  &trans  &trans  &trans    &trans  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &sys_reset
                     &trans  &trans  &trans  &trans    &trans  &trans        &trans          &trans
            >;
        };

        num {
            bindings = <
&kp LEFT_PARENTHESIS   &kp MINUS   &kp N7        &kp N8        &kp N9        &kp PLUS        &trans  &trans           &trans     &trans    &trans         &trans
&kp COMMA              &kp PERIOD  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp EQUAL       &trans  &kp RIGHT_SHIFT  &kp RCTRL  &kp LALT  &kp RIGHT_WIN  &trans
&kp RIGHT_PARENTHESIS  &kp SLASH   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ASTERISK    &trans  &trans           &trans     &trans    &trans         &trans
                                   &kp N0        &trans        &trans        &kp SPACE       &trans  &trans           &trans     &trans
            >;
        };

        sym {
            bindings = <
&kp LEFT_BRACE   &kp MINUS  &kp AMPERSAND          &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp PLUS        &trans  &trans      &trans     &trans        &trans         &trans
&kp COMMA        &kp DOT    &kp DOLLAR             &kp PERCENT   &kp CARET             &kp EQUAL       &trans  &kp RSHIFT  &kp RCTRL  &kp LEFT_ALT  &kp RIGHT_WIN  &trans
&kp RIGHT_BRACE  &kp SLASH  &kp EXCL               &kp AT_SIGN   &kp HASH              &kp ASTERISK    &trans  &trans      &trans     &trans        &trans         &trans
                            &kp RIGHT_PARENTHESIS  &kp GRAVE     &trans                &kp SPACE       &trans  &trans      &trans     &trans
            >;
        };
    };
};
